
body {
    margin: 0;
    padding: 0;
   
    color: #fff;
    font-family:  'Josefin Sans', sans-serif;
    background : linear-gradient(45deg, black, grey);
    overflow-x: hidden; 
}
#sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.sponsor {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.sponsor:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.sponsor img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}


header {
    text-align: center;
    padding: 50px 20px;
    
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: #f72222;
    font-family: 'Mr Dafoe', cursive;
}

header h4 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #f9f906;
    font-family: 'Josefin Sans', sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

